@font-face {
    font-family: 'Digital-7';
    src: url('../css/fonts/digital-7.ttf')
}
html {
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    background-color: lightgray;
    padding: 0em 6em 0em 6em;
    width: 45em;
    height: fit-content;
    font-family:'Digital-7', 'Courier';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: darkslategray;
    height: 55px;
}

main {
    width: 400px;
    display: block;
    background-color: darkslategray;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: rgb(39, 66, 66);
    box-shadow: inset 0px 0px 6px 1px rgb(65, 108, 116);
}
.buttons-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 380px;
    height: 485px;
    background-color: rgb(29, 49, 49);
    padding-bottom:1px;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 15px 7px rgb(28, 47, 49);
}
button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative;
    width: 90px;
    height: 90px;
    border-style: solid;
    border-width: 5px;
    font-size: 32px;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 2px 1px 2px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
}
button:active {
    bottom:1px;
}
button:disabled {
    background-color: rgb(110, 184, 187);
    opacity: 0.5;
}
.special-button {
    background-color: rgb(80, 118, 189);
    border-bottom-color: rgb(34, 51, 82);
    border-top-color: rgb(34, 51, 82);
    border-left-color: rgb(57, 84, 131);
    border-right-color: rgb(57, 84, 131);
    box-shadow: inset 2px 2px 3px 1px rgb(100, 139, 211), 1px 1px 2px 2px rgb(19, 32, 32);
    color:rgb(29, 44, 70);
}

.special-button:active {
    background-color:rgb(63, 93, 150);
    box-shadow: inset 0px 0px 0px 0px, 1px 1px 2px 2px rgb(19, 32, 32);
}
.operator-button {
    color: rgb(70, 56, 29);
    background-color: orange;
    border-bottom-color: rgb(88, 71, 37);
    border-top-color: rgb(88, 71, 37);
    border-left-color: rgb(117, 95, 50);
    border-right-color: rgb(117, 95, 50);
    box-shadow: inset 2px 2px 3px 1px rgb(241, 184, 77), 1px 1px 2px 2px rgb(19, 32, 32);
    font-size: 65px;
}
.operator-button:active {
    background-color:#F78900;
    box-shadow: inset 0px 0px 0px 0px, 1px 1px 2px 2px rgb(19, 32, 32);
}
.number-button {
    color: rgb(35, 57, 58);
    background-color: cadetblue;
    border-bottom-color: rgb(42, 67, 68);
    border-top-color: rgb(42, 67, 68);
    border-left-color: rgb(54, 87, 88);
    border-right-color: rgb(54, 87, 88);
    box-shadow: inset 2px 2px 3px 1px rgb(129, 193, 196), 1px 1px 2px 2px rgb(19, 32, 32);
}
.number-button:active{
    background-color:rgb(68, 112, 114);
    box-shadow: inset 0px 0px 0px 0px, 1px 1px 2px 2px rgb(19, 32, 32);
}
#zero-button{
    width: 182px;
}
#screen-div{
    border-style: solid;
    border-width: 20px;
    border-color: darkslategray;
    border-radius: 10px 10px 7px 7px;
    border-bottom-color: rgb(41, 66, 66);
    border-top-color: rgb(41, 66, 66);
    margin-bottom: 20px;
    background-color: rgb(129, 150, 94);
    color: rgb(46, 58, 25);
    box-shadow:1px 4px 8px rgb(37, 63, 63);
}
#internal-screen-div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
    border-color: rgb(60, 70, 44);
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    min-height: 80x;
    text-align: end;
    white-space: nowrap;
}
#main-display {
    font-weight: lighter;
    font-size: 70px;
    padding: 10px;
    height: 70px;
}
#history-display {
    min-height: 20px;
    font-size: 24px;
    overflow: inherit;
    width: 100%;
}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0%;
    margin-top: 1vw;
    color:darkslategray;
    height: fit-content;
}
footer a {
    color:inherit;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:6px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    font-size: 32px;
}
i:hover {
    cursor: pointer;
    color: rgb(69, 114, 114);
}
@media screen and (max-width: 914px) {
    body {
        margin: auto;
        padding: 0 1vw 1vw 1vw;
        width: fit-content;
        min-width: 420px;
        height: fit-content;
    }
    .buttons-div {
        padding-top: 5px;
        margin-top: 5px;
    }
    header {
        padding-top:0%;
        min-height: fit-content;
    }
    h1 {
        font-size: 65px;
    }
    footer {
        min-height: fit-content;
        margin-top: 10px;
    }
    footer i {
        font-size: 28px;
    }
    footer ul {
        margin: 0%;
        margin-top:2px;
    }
 }